
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.table-contacts {
  margin-top: 50px;
  width: 100%;
  display: block;
  border-spacing: 0px;
  border-collapse: collapse;
  text-align: center;
}
.table-contacts thead {
  background-color: #FFF1E6;
  border: solid 1px #FFC7A0;
}
.table-contacts thead th {
  padding: 20px;
}
.table-contacts .column-picture {
  width: 80px;
  display: block;
}
.table-contacts .column-name {
  text-align: left;
}
.table-contacts img {
  width: 100%;
  border-radius: 4px;
}
.table-contacts td {
  padding: 20px;
  border-bottom: solid 1px grey;
}
button {
  padding: 8px 10px;
  cursor: pointer;
}
.group-buttons {
  width: 80%;
  display: flex;
  justify-content: space-between;
}